*{
    margin:0;
    padding:0;
box-sizing: border-box;
}
.carosel{
  display: flex;
 /* overflow: hidden; */
 
}
.slider{
    text-align: center;
    align-items: center;
    background-color: aqua;
    width:400px;
    height:200px;
    transform: translateX(-50%);
    margin: 15px 10px;
}